/* === Grid === */

@media not screen and (min-width: 40.0rem) {
    .row .column.column-responsive {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* === Base === */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

section.container {
    margin-top: 2.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    color: #62aba8;
}

a:hover  {
    color: #32cec7;
}

pre {
    border-color: #62aba8;
}

b, strong {
    font-weight: bold;
}

.button, .button:active {
    background-color: #62aba8;
    border: .1rem solid #62aba8;
}

.button:hover, .button:focus {
    background-color: #32cec7;
    border: .1rem solid #32cec7;
}

/* === Header and Footer === */

header.site-header {
    background: #000000;
}

header.site-header h1 {
    font-size: 2.5rem;
    display: inline;
    margin-right: 1rem;
    line-height: 4.5rem;
}

header.site-header h2 {
    font-size: 1.5rem;
    display: inline;
    line-height: 4.5rem;
}

nav {
    float: right;
}

nav a {
    line-height: 4.5rem;
    margin-left: 1rem;
}

footer {
    background: #000000;
    padding: 1rem 0 0 0;
    color: #ffffff;
    margin-top: 5rem;
}

footer h2 {
    margin-bottom: 0;
}

footer .column {
    margin-top: 0.5rem;
}

footer i {
    margin-right: 0.8rem;
}

footer p {
    font-size: 0.9em;
}

/* === Posts === */

.column.post-list-date {
    white-space: nowrap;
    padding-top: 0.5rem;
}

.post-title {
    color: #62aba8;
}

.post-date {
    font-size: 0.9em;
    margin-top: -1rem;
}

.post-date i, .comments-link i {
    margin-right: 0.8rem;
}

/* === Font Awesome === */

.fa-li {
    line-height: 1.4;
}
