<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>uncode</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
        <link rel="stylesheet" href="/css/normalize.min.css" />
        <link rel="stylesheet" href="/css/milligram.min.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="canonical" href="https://nlkl.github.io$url$">
        <link rel="alternate" type="application/atom+xml" title="uncode" href="https://nlkl.github.io/atom.xml" />
        <link rel="alternate" type="application/rss+xml" title="uncode" href="https://nlkl.github.io/feed.xml" />
    </head>
    <body>
        <header class="site-header">
            <div class="container">
                <h1><a href="/">uncode</a></h1>
                <h2>Nils Lück's blog</h2>
                <nav>
                    <a href="/posts.html">Posts</a>
                    <a href="/about.html">About</a>
                    <a href="/feed.xml"><i class="fa fa-rss"></i></a>
                </nav>
            </div>
        </header>
        <main>
            $body$
        </main>
        <footer>
            <div class="container">
                <h2>uncode</h2>
                <div class="row">
                    <div class="column">
                        <i class="fa fa-github"></i> <a href="https://github.com/nlkl">nlkl</a><br />
                        <i class="fa fa-twitter"></i> <a href="https://twitter.com/nilsluck">nilsluck</a>
                    </div>
                    <div class="column column-75 column-responsive">
                        <p>This is my attempt at an opinionated coding blog. I fancy minimalistic and  consistent software design, functional programming principles, code-aesthetics,  and unbureacratic coding practices - my blog will reflect this, so be ware.</p>
                    </div>
                </div>
            </div>
        </footer>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41375063-2', 'auto');
          ga('send', 'pageview');

        </script>

        <script>
          var host = 'nlkl.github.io';
          if (window.location.host == host &&  window.location.protocol != 'https:') {
            window.location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
          }
        </script>
    </body>
</html>
