<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>uncode</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
        <link rel="stylesheet" href="/css/normalize.min.css" />
        <link rel="stylesheet" href="/css/milligram.min.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <header class="site-header">
            <div class="container">
                <h1><a href="/">uncode</a></h1>
                <h2>Nils Lück's blog</h2>
                <nav>
                    <a href="/posts.html">Posts</a>
                    <a href="/about.html">About</a>
                    <a href="#"><i class="fa fa-rss"></i></a>
                </nav>
            </div>
        </header>
        $body$
        <footer>
            <div class="container">
                <h2>uncode</h2>
                <div class="row">
                    <div class="column">
                        <i class="fa fa-github"></i> <a href="https://github.com/nlkl">nlkl</a><br />
                        <i class="fa fa-twitter"></i> <a href="https://twitter.com/nilsluck">nilsluck</a>
                    </div>
                    <div class="column column-75 column-responsive">
                        <p>This is my attempt at an opinionated coding blog. I fancy minimalistic and  consistent software design, functional programming principles, code-aesthetics,  and unbureacratic coding practices - my blog will reflect this, so be ware.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
